# .NET
DivAcerManagerMax/obj/
DivAcerManagerMax/bin/

# Python
**/__pycache__/
*.pyc
DAMM-Daemon/build/
DAMM-Daemon/dist/
DAMM-Daemon/*.spec

# Kernel Module build artifacts
Linuwu-Sense/src/*.ko
Linuwu-Sense/src/*.o
Linuwu-Sense/src/*.mod*
Linuwu-Sense/src/.*.cmd
Linuwu-Sense/src/modules.order
Linuwu-Sense/src/Module.symvers
Linuwu-Sense/modules.order
Linuwu-Sense/Module.symvers
Linuwu-Sense/.*.cmd
Linuwu-Sense/.tmp_versions/

# Packaging
build/
*.deb

# IDEs
.idea/
*.swp
*~
